{% extends 'snippets/childbase.html' %}

{% block content %}
<section class="virtual" id="virtual">
   <div class="container" >
      <div class="section-title">
         <h2 class="py-4">Accounts Payable</h2>
         
      </div>
      <div class="row">
         <div class="col-lg-12">
            <p class="p-2" style="text-align:justify">
             
             Accounts payable is essentially referred to as a short-term loan for the company that has to be paid in an orderly manner to the vendors or suppliers. This amount is due for goods and services received from the vendors or suppliers that have not yet been paid for. Account payable is an invoice that has to be paid after certain period of time (for instance due in 15 days, 30 days or 45 days) depending on the type of invoice and company-supplier agreement. It is kept under current liabilities of the company’s financial record. Company can manage their financial flow and transaction efficiently with accounts payable. This benefit also allows the company to continue their business with the supplier.
            </p>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="col-lg-12 text-center p-3" style="background:pink">
         <h5>"Focus on your dreams while we manage all your financial hurdles!! "</h5>
         <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
      </div>
   </div>
{% endblock content %}

{% block row %}
<div class="row">
   <div class="col-lg-12 content-item-center my-5">
      <div class="box p-3" style="border-bottom: 3px solid brown;">
         
         <p class="p-2" style="text-align:justify"><span style="color:green;font-size:24px;">Benefits<i class="bi bi-arrow-right-short"></i></span><br>
         <ul>
            <li>It buys some time for a company to pay their invoice to the supplier.</li>
           <li>It allows company to manage or hold cash flow efficiently in case of financial crisis.</li>
           <li>It helps to maintain a healthy business relationship of company with the supplier that last long.</li>
           <li>The supplier also offers schemes (for instance, low interest charge, increasing the due date for payment to the company in the long run).</li>
         </ul>
         </p>
         
          <p class="p-2" style="text-align:justify"><span style="color:green;font-size:24px;">Our Account Payable Services<i class="bi bi-arrow-right-short"></i></span><br>
         <ul>
            <li>Data Management of all invoices/receipts</li>
           <li>Auditing and validating financial data</li>
           <li>Detection and management of void data</li>
           <li>Disbursement of payments (in the form of checks, drafts, online payment)</li>
           <li>Others - utility bill management, tax reports, health and travel expenses, etc.</li>
         </ul>
         </p>
      </div>
   </div>
</div>
{% endblock row %}