{% extends 'snippets/childbase.html' %}
   {% block content %}
   <section class="virtual" id="virtual">
      <div class="container" >
         <div class="section-title">
            <h2 class="py-4">Invoice preparation </h2>
            <h5>“Helping you simplify your work by maintaining payments and invoices here.”</h5>
         </div>
         <div class="row">
            <div class="col-lg-12">
                <span style="color:green;font-size:24px;">Less back and forth,quick payments<i class="bi bi-arrow-right-short"></i></span>
               <p class="p-2" style="text-align:justify">
                Basically, invoice is payment bill sent to your customer after the job completion implying what service was provided and the due amount to be paid. But the actual services go way beyond this definition. Hiring us for this job can help you receive payments on time and maintain the cash flow in your business.  
                  <br><br> 
                 In other words, invoicing can be simply understood as a way of closing out a job in a professional manner, so that there is a chance of future business with the customers. So, it better be an ideal way of to end the job for some new beginnings in future. 
               </p>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="col-lg-12 text-center p-3" style="background:pink">
            <h5>"Handling your people and their payment is a lot of work. Feel free to contact us."</h5>
            <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
         </div>
      </div>
   {% endblock content %}
     
   
   <div class="container">
         {% block row %}
         <div class="row">
            <div class="col-lg-10 content-item-center my-5">
               <div class="box p-3" style="border-right: 3px solid brown;border-top: 3px solid brown">
                  <span style="color:green;font-size:24px;">Why should you hire us?</span>
                  <p>
                  <ul>
                     <li>Instantly payable invoices: We add a button to make the payments easy for your customers. When there is a flexible payment, there is flexible business on hand.</li>
                     <li>Details recorded: When you have your invoice paid, it is automatically recorded and the payments are all in your books down to every single detail.</li>
                    
                  </ul>
                  </p>
               </div>
            </div>
            
         </div>
         <div class="row">
             <div class="col-lg-2"></div>
             <div class="col-lg-10 content-item-center my-5">
               <div class="box p-3" style="border-right: 3px solid brown;border-bottom: 3px solid brown">
                  <span style="color:green;font-size:24px;">Let us do the math's </span>
                  <p>
                      We will do the heavy lifting for you. From the amount to be paid, to how much still owed, all of it is kept on track. You don’t have to go on manually updating it all. Keep the hassle for us. 
                  <ul>
                     <li><b>Payments are split up :</b>

                       You don’t have to wait to get your payment till you complete your project. We can split the invoices into multiple, based on degree, milestone and the stage of work done.</li>
                     <li><b>See all the payment in progress: </b>

                       Making it easy for you to see the payment in progress. It’s easy for you to keep track of development of work.</li>
                    
                  </ul>
                  </p>
               </div>
            </div>
         </div>
         {% endblock row %}
