{% extends 'snippets/childbase.html' %}
{% block content %}
<section class="virtual" id="virtual">
   <div class="container" >
      <div class="section-title">
         <h2 class="py-4">payrolls</h2>
         <h5> Making your life easier with our payrolls.</h5>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <p class="p-2" style="text-align:justify">
               Keeping track of all the employees, there scheduled pay date can be distracting for many business owners. But with our help you can have your pay roll taxes filed on time and assessed accurately. Our experts will save your countless hours of work and make things convenient for you. So that payroll is no longer a tiring chore for you and you can focus on your customers.
               <br><br> <span style="color:green;font-size:24px;">Payroll simplified for you <i class="bi bi-arrow-right-short"></i></span><br> 
               We will take all the complicated task off your shoulders. Payroll can be time consuming but more importantly, it requires a proper knowledge of tax payments and deposits law. It's a basic necessity of any business owner but it is not necessarily the job that you must handle. We will handle the core functions like payment to employees, file taxes and do the necessary deduction, helping you build your company and enjoy your time at work.
            </p>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="col-lg-12 text-center p-3" style="background:pink">
         <h5>"Handling your people and their payment is a lot of work. Feel free to contact us."</h5>
         <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
      </div>
   </div>
{% endblock content %}


      <div class="container">
         {% block row %}
         <div class="row">
            <div class="col-lg-10 content-item-center my-5">
               <div class="box p-3" style="border-right: 3px solid brown;border-top: 3px solid brown">
                  <span style="color:green;font-size:24px;">Why choose us?</span>
                  <p>
                  <ul>
                     <li>High quality work: Our staff are well trained and are in compliance with the changing social and fiscal legislature</li>
                     <li>Flexibility: We make plans that goes seamlessly with your internal processes. Sometimes we can deviate from the plan when necessary to make the whole procedure easy for our customers </li>
                     <li>We can even save you from an overdue bookkeeping work. Even if you are lagging months behind; we can assist you to catch up on time</li>
                     <li>Prompt services: We believe in on time payments and the reason why you chose us. We provide quality work that is efficiently completed on scheduled dates.</li>
                  </ul>
                  </p>
               </div>
            </div>
         </div>
         {% endblock row %}
         