{% extends 'snippets/childbase.html' %}
{% block content %}
<section class="virtual" id="virtual">
   <div class="container" >
      <div class="section-title">
         <h2 class="py-4">Month and year end reconciliation</h2>
         <h5> We keep the record of all your bank transactions so that you are up to date with your cash position.</h5>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <p class="p-2" style="text-align:justify">
               As a small business owner, you yourself are responsible for keeping track of all the numbers. It can be quite a daunting task as you are responsible for documentation of your entire account balance. It is when the company like us can be of great help. 
               <br><br> <span style="color:green;font-size:24px;">What is a bank reconciliation?<i class="bi bi-arrow-right-short"></i></span><br> 
              Basically, reconciling your account is keeping track of the total amount of money that your business owns. It’s mandatory to keep the records of every day transactions for complying of a reconciliation report. Relevant documents such as employee payrolls, invoices and contracts are required to be included in the reconciliation report.
            </p>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="col-lg-12 text-center p-3" style="background:pink">
         <h5>"If you are waiting on someone to bring in order out of chaos. We are there for you."</h5>
         <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
      </div>
   </div>
{% endblock content %}


      <div class="container">
         {% block row %}
         <div class="row">
            <div class="col-lg-12 content-item-center my-5">
               <div class="box p-3" style="border-bottom: 3px solid brown;">
                  
                  <p class="p-2" style="text-align:justify">Our domain knowledge in the accounting management and our extensive experience helps us provide robust and effective problem-solving capabilities in managing your accounts and reconciliate them.
                     We are accomplished on using various software to handle your reconciliation jobs we use:

                  <ul>
                     <li>QUICKBOOKS</li>
                    <li>PEACHTREE</li>
                    <li>XERO</li>
                  </ul>
                  </p>
               </div>
            </div>
         </div>
         {% endblock row %}
         