<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Setup and Training</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!--IMP CSS Files -->
      <link href="assets/imp/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!--  Main CSS File -->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link href="assets/css/style.css" rel="stylesheet">
      <link rel="icon" href="./assets/img/logo.png" type="image/icon type">
   </head>
   
   <style>
/* set the position of dropdown */
.dropdown {
     position: relative;
     display: block;
}
/* set the size and position of button on web */
.button {
     padding: 8px 10px;
     font-size: 16px;
     font-weight:bold;
     margin-left:15px;
     border: 2px solid brown;
     border-radius:8px;
    background-color:#d79aa9;
     color:white;
}
.button:hover{
     background-color:brown;
}

/* provide css to background of list items */ 
#list-items {
    display: none;
    position: absolute;
     z-index:9999;
    min-width: 180px;
    margin-left:75px;
    color:white;
}
/* provide css to list items */ 
#list-items a {
     display: block;
     font-size: 18px;
     background-color: pink;
     color:gray;
     text-decoration: none;
     padding: 10px;
    height:auto;
     
}
</style>

   <body>
   <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
         <div class="contact-info d-flex align-items-center">
            <a href="tel: +61480097490" class="getstarted scrollto" target="_blank"><i class="bi bi-phone-fill phone-icon"></i> Wanna Talk?</a>
         </div>
         <div class="social-links d-none d-md-block">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
         </div>
      </div>
   </section>
   <header id="header" class="d-flex align-items-center">
      <div class="container-fluid d-flex align-items-center p-2" style="background-color: #d79aa9;">
         <h1 class="logo me-auto " ><a href="/"><img src="./assets/img/logo.png" alt="logo"> eBook Keeping</a></h1>
         <nav id="navbar" class="navbar">
            <ul>
               <li><a class="nav-link scrollto active" href="/">Home</a></li>
               <!--<li><a class="nav-link scrollto" href="/#services">Services</a></li>-->
               <li>
                  <div class="dropdown">
                  <button onclick="show_hide()" class="button">Services</button>
                  <center>
     
                 <div id="list-items">
                
                <a href="invoice">Invocing </a>
                <a href="payroll">Payroll</a>
                 <a href="account-payable">Account Payable </a>
                  <a href="reporting">Reporting</a>
                <a href="reconciliation">Reconciliation </a>
                 <a href="setup-training">Setup and Training </a>
                 <a href="virtual-bookkeeping">Virtual book keeping </a>
               
                </div>
                </center>

               </li>
                <li><a class="nav-link scrollto" href="/#about">About</a></li>
               <li><a class="nav-link scrollto " href="/#pricing">Pricing</a></li>
               <li><a class="nav-link scrollto " href="/#recent-blog-posts">Blogs</a></li>
               <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
               <!--<li><a class="getstarted scrollto" href="tel: +61480097490" target="_blank">Wanna Talk?</a></li>-->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
         </nav>
      </div>
   </header>
   <section class="virtual" id="virtual">
      <div class="container" >
         <div class="section-title">
            <h2 class="py-4">SetUp and Training</h2>
            <h5> “Everything you ever wanted with your bookkeeping is just steps away”.</h5>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <p class="p-2" style="text-align:justify">
                 Even if you are new to the business or trying to bring changes to your style you handle your books? We are here for all.  data capturing and record keeping is never an interesting task, plus the time that it takes to complete one. But then if your account is set up to run like an efficient machine, the process is timeless. Our company will show you how effortlessly you can fulfill all your bookkeeping task both saving your precious time and hard-earned money. We help you keep both your new or existing accounts updated and customize it just for you. We also provide training on your desired software handling so that you can handle your own accounts. Weather it’s a day-to-day training or and extensive training we are there for you helping in every step.
                
               </p>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="col-lg-12 text-center p-3" style="background:pink">
            <h5>"If you are waiting on someone to bring in order out of chaos. We are there for you."</h5>
            <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 content-item-center my-5">
               <div class="box p-3" style="border-bottom: 3px solid brown;">
                  
                  <p class="p-2" style="text-align:justify"><span style="color:green;font-size:24px;">What are services that we provide you?<i class="bi bi-arrow-right-short"></i></span>

                  <ul>
                     <li>We help make the books automated so that your in-house bookkeeper can easily manage the books.</li>
                    <li>We provide extensive training in handling software.</li>
                    <li>We help reorganize your existing account management.</li>
                    <li>We help clean up your book accounts basically help you unclutter your clutter.</li>
                    <li>We help update your books and fix if you lag behind in any administrative works.</li>
                  </ul>
                  </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="section-title">
               <h2 class="py-4">Other Services</h2>
            </div>
            <div class="col-lg-2 text-center d-flex py-3">
               <div class="card card-body flex-fill bg-pink rounded shadow" style="background:pink;">
                  <h6>Account Payable</h6>
                  <a href="account-payable"><button type="button" class="service-homebtn my-3">More<i class="bi bi-arrow-right-short"></i></button></a>
               </div>
            </div>
            <div class="col-lg-2 text-center d-flex py-3">
               <div class="card card-body flex-fill bg-pink rounded shadow" style="background:pink;">
                  <h6>Payroll</h6>
                  <a href="payroll"><button type="button" class="service-homebtn my-3">More<i class="bi bi-arrow-right-short"></i></button></a>
               </div>
            </div>
            <div class="col-lg-2 text-center d-flex py-3">
               <div class="card card-body flex-fill bg-pink rounded shadow" style="background:pink;">
                  <h6>Virtual book keeping</h6>
                  <a href="virtual-bookkeeping"><button type="button" class="service-homebtn my-3">More<i class="bi bi-arrow-right-short"></i></button></a>
               </div>
            </div>
            <div class="col-lg-2 text-center d-flex py-3">
               <div class="card card-body flex-fill bg-pink rounded shadow" style="background:pink;">
                  <h6>Invocing</h6>
                  <a href="invoice"><button type="button" class="service-homebtn my-3">More<i class="bi bi-arrow-right-short"></i></button></a>
               </div>
            </div>
            <div class="col-lg-2 text-center d-flex py-3">
               <div class="card card-body flex-fill bg-pink rounded shadow" style="background:pink;">
                  <h6>Month and year end reconciliation</h6>
                  <a href="reconciliation"><button type="button" class="service-homebtn my-3">More<i class="bi bi-arrow-right-short"></i></button></a>
               </div>
            </div>
            <div class="col-lg-2 text-center d-flex py-3">
               <div class="card card-body flex-fill bg-pink rounded shadow" style="background:pink;">
                  <h6>Month and year end reporting</h6>
                  <a href="reporting"><button type="button" class="service-homebtn my-3">More<i class="bi bi-arrow-right-short"></i></button></a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="contact" class="contact">
      <div class="container">
         <div class="section-title">
            <h2 style="color: #A82C49;">Contact Us</h2>
            <h5>We are 24/7 available in your service feel free to contacst us.The Contact details are mentioned below or you can fill the form directly.</h5>
         </div>
         <div class="row">
            <div class="col-lg-4" style="padding-top:15px;">
               <h2>Contact details:</h2>
               <div class="info">
                  <div class="address">
                     <i class="addr"><img src="./assets/img/contact/location.png" alt=""></i>
                     <h4>Main Office:</h4>
                     <p>Australia</p>
                  </div>
                  <div class="email">
                     <i class="addr"><img src="./assets/img/contact/open-mail.png" alt=""></i>
                     <h4>Email:</h4>
                     <a href="mailto:SomeMail@blabla.com" target="_blank">
                        <p>info@ebookkeepingpro.com</p>
                     </a>
                  </div>
                  <div class="phone">
                     <i class="addr"><img src="./assets/img/contact/phone-call.png" alt=""></i>
                     <h4>Call:</h4>
                     <p>+61 480097490</p>
                     <!--<div class="card p-2" >-->
                     <!--   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.2228626787833!2d85.33026571491631!3d27.710404482790544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190b6cfae8cd%3A0xb54327d56a797ef6!2sGyaneshwor%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1651395834017!5m2!1sen!2snp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
                     <!--</div>-->
                  </div>
               </div>
            </div>
            <div class="col-lg-3 mt-5 mt-lg-0 d-flex align-items-stretch">
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0 d-flex align-items-stretch">
               <form action="https://formcarry.com/s/ml1_mU2EPXh" method="post"  class="php-email-form">
                  <div class="row">
                     <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="name" class="form-control"  required>
                     </div>
                     <div class="form-group col-md-6 mt-3 mt-md-0">
                        <label for="name">Your Number</label>
                        <input type="text" class="form-control" name="number"  required>
                     </div>
                  </div>
                  <div class="form-group mt-3">
                     <label for="name">Your Email</label>
                     <input type="email" class="form-control" name="email"  required>
                  </div>
                  <div class="form-group mt-3">
                     <label for="name">Subject</label>
                     <input type="text" class="form-control" name="subject"  required>
                  </div>
                  <div class="form-group mt-3">
                     <label for="name">Message</label>
                     <textarea class="form-control" name="message" rows="7" required></textarea>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
               </form>
            </div>
         </div>
      </div>
   </section>
   <footer id="footer">
      <div class="container">
         <h3>eBook-Keping</h3>
         <p>Follow Us On Social-site</p>
         <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
         </div>
         <div class="copyright">
            &copy; Copyright <strong><span>2022</span></strong>. All Rights Reserved
         </div>
         <div class="credits">
            Designed by eBook Keeping
         </div>
      </div>
   </footer>
   <a href="/" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
   <!--Sabal CSS Down-->
   <!--<link href="assets/imp/animate.css/animate.min.css" rel="stylesheet">-->
   <link href="assets/imp/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="assets/imp/boxicons/css/boxicons.min.css" rel="stylesheet">
   <!--<link href="assets/imp/glightbox/css/glightbox.min.css" rel="stylesheet">-->
   <link href="assets/imp/swiper/swiper-bundle.min.css" rel="stylesheet">
   <script src="assets/imp/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!--<script src="assets/imp/glightbox/js/glightbox.min.js"></script>-->
   <!--<script src="assets/imp/isotope-layout/isotope.pkgd.min.js"></script>-->
   <script src="assets/js/main.js"></script>
  <script>
      //show and hide dropdown list item on button click
      function show_hide() {
         var click = document.getElementById("list-items");
         if(click.style.display ==="none") {
            click.style.display ="block";
         } else {
            click.style.display ="none";
         } 
      }
   </script>
   </body>
</html>