
{% extends 'snippets/childbase.html' %}
{% block content %}
<section class="virtual" id="virtual">
   <div class="container" >
      <div class="section-title">
         <h2 class="py-4">SetUp and Training</h2>
         <h5> “Everything you ever wanted with your bookkeeping is just steps away”.</h5>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <p class="p-2" style="text-align:justify">
              Even if you are new to the business or trying to bring changes to your style you handle your books? We are here for all.  data capturing and record keeping is never an interesting task, plus the time that it takes to complete one. But then if your account is set up to run like an efficient machine, the process is timeless. Our company will show you how effortlessly you can fulfill all your bookkeeping task both saving your precious time and hard-earned money. We help you keep both your new or existing accounts updated and customize it just for you. We also provide training on your desired software handling so that you can handle your own accounts. Weather it’s a day-to-day training or and extensive training we are there for you helping in every step.
             
            </p>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="col-lg-12 text-center p-3" style="background:pink">
         <h5>"If you are waiting on someone to bring in order out of chaos. We are there for you."</h5>
         <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
      </div>
   </div>
{% endblock content %}
         
{% block row %}
<div class="row">
   <div class="col-lg-12 content-item-center my-5">
      <div class="box p-3" style="border-bottom: 3px solid brown;">
         
         <p class="p-2" style="text-align:justify"><span style="color:green;font-size:24px;">What are services that we provide you?<i class="bi bi-arrow-right-short"></i></span>

         <ul>
            <li>We help make the books automated so that your in-house bookkeeper can easily manage the books.</li>
           <li>We provide extensive training in handling software.</li>
           <li>We help reorganize your existing account management.</li>
           <li>We help clean up your book accounts basically help you unclutter your clutter.</li>
           <li>We help update your books and fix if you lag behind in any administrative works.</li>
         </ul>
         </p>
      </div>
   </div>
</div>
{% endblock row %}