{% extends 'snippets/childbase.html' %}

{% block content %}

<section class="virtual" id="virtual">
   <div class="container" >
      <div class="section-title">
         <h2 class="py-4">Virtual Book-keeping</h2>
         <h6> You are best at what you do and we are best at what we do. Together let's succeed.</h6>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <p class="p-2" style="text-align:justify">When your business is constantly growing, 
            it becomes quite a task to keep your bookkeeping job under control and as a business owner you already have to wear a lot of hats where some fit perfectly, and with others you struggle. 
            When your in-house team can no longer hold the bookkeeping efficiently, it could affect the flow of your business in this competitive world. 
            So, stop taking that burden, our company can save you from all the extra expanses that goes on the rework and help you thrive in your business. 
            Our company makes it possible for you to spend your time where it’s best spent. 
            we are here to waive off your responsibility of bookkeeping and save you from employer liability and other hassles.<br><br>
               We as a company believe that that the whole process is all about you, whether you want us to handle your entire bookkeeping or just want some assistance in some complex and time-consuming tasks. 
               Whichever path you choose, we deliver you a meticulously worked on and detailed bookkeeping services. 
               Our aim is to meet both of your long term and short-term goals. 
               We are aware that a consistent and well-organized bookkeeping is a key point in a successful business venture. 
               We have customized service plan for you listed below:
            <ol>
               <li>Balance sheet</li>
               <li>Data entry</li>
               <li>Profit and loss sheet</li>
               <li>Credit reconciliation</li>
               <li>Vendor and aging report</li>
            </ol>
            </p>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="col-lg-12 text-center p-3" style="background:pink">
         <h5>"Do contact us if you are planning on hiring a bookkeeping service provider"</h5>
         <a href="tel: +61480097490" target="_blank"><button type="button" class="service-homebtn my-3">Contact Now</button></a>
      </div>
   </div>
{% endblock content %}


{% block row %}
         <div class="row">
            <div class="col-lg-6 col-md-6 content-item my-5">
               <div class="box p-3" style="border-right: 3px solid brown;border-top: 3px solid brown">
                  <span style="color:green;font-size:24px;">We are dedicated bookkeepers just for you:</span>
                  <p>
                  <ul>
                     <li>We collect your bank statement, keep track of transaction, categorize them and create a financial statement every month</li>
                     <li>We prepare a financial overview that helps you understand about your money and a single glance can give an idea about where you are at your business</li>
                     <li>We can even save you from an overdue bookkeeping work. Even if you are lagging months behind; we can assist you to catch up on time</li>
                     <li>All your records are entirely in the house, where you don’t have to worry about the security of your books</li>
                     <li>We save your time and make bookkeeping painless and efficient; hence help you succeed in your business</li>
                  </ul>
                  </p>
               </div>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-5 col-md-4 content-item my-5">
               <div class="box p-3" style="border-left: 3px solid brown;border-bottom: 3px solid brown">
                  <span style="color:green;font-size:24px;">Top benefits of hiring us:</span>
                  <p>
                  <ul>
                     <li>Payment for only the work assigned</li>
                     <li>Quality services</li>
                     <li>On time services</li>
                     <li>Your choice of pace for task completion</li>
                     <li>Confidentiality of data</li>
                  </ul>
                  </p>
                  <span style="color:green;font-size:24px;">Advantage of hiring a virtual bookkeeping services:</span>
                  <p>
                  <ul>
                     <li>Affordable, saves lot of money</li>
                     <li>Optional hiring</li>
                     <li>No issues with the software</li>
                     <li>Real-time updates</li>
                  </ul>
                  </p>
               </div>
            </div>
         </div>
         {% endblock row %}
         